.container{
    height:100vh;
    width: 210vh;
    background:#262625;
    padding-top: 70px;
    text-align: center;
    color: white;
 }
 #choose{
    display: inline-block;
    padding-left: 400px;
    padding-top: 30px;

 }
 #workingtype
 {
    font-size:20px;
    width: 200px;
    height: 40px;
    margin:10px;
    border-radius: 15px;
    background-color: #52aad9;
    color:black;

 }
 #toggle{
     color: white;
     display: inline-block;
     padding-left: 800px;
     padding-top: 30px;
 }
 
 #switch{
     font-size:20px;
     width: 200px;
     height: 40px;
     margin:10px;
     border-radius: 15px;
     background-color: white;
     color:black;
 
 
 }
 #answer{
     width: 344px;
     border-radius: 10px;
     background-color:rgb(41, 25, 25);
     color:white;
     box-shadow: inset 5px 5px 3px rgb(62, 63, 61),
     inset -5px -5px 3px white;
 }
 .calc{
     background-color: #6b2b6b;
     padding: 10px 10px 10px 10px;
     display: inline-block;
     border-radius: 15px;
 
 }
 input{
     font-size:30px;
     width: 100px;
     height: 80px;
     margin:10px;
     border-radius: 15px;
     border:none;
     background-color:rgb(41, 25, 25);
     color:white;
     box-shadow: inset 5px 5px 3px white,
     inset -5px -5px 3px rgb(62, 63, 61);
 
 }
 
 input:hover{
     background-color: #5e002f;
     box-shadow: inset 5px 5px 3px rgb(62, 63, 61),
     inset -5px -5px 3px white;
 }
 
 
 